:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --background-color: rgb(123, 7, 176); /* Valor por defecto */
  background: var(--background-color); /* Aplicar la variable aquí */
  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;} */
  margin: 0;
  padding: 0;
}


body {

  box-sizing:border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content:space-between;
  height: 100vh;
  margin: 0;
  flex-wrap: nowrap;

}

header {

  padding: 10px 20px;
  text-align: center;
  /* height: 40px; Altura fija para el header */
  border-bottom-left-radius: 40px; /* Bordes redondeados */
  border-bottom-right-radius: 40px; /* Bordes redondeados */
  /* border-bottom-right-radius: 20px; */
  display: flex; /* Utiliza flexbox para alinear elementos dentro del header */
  justify-content: space-between; /* Justificar contenido al final */
  align-items: center;
 
  height: 120px;
  font-size: 20px; /* Tamaño de fuente para el header */
  /* border: solid yellow 2px; */
  position: relative;
  /* background: rgba(255, 255, 255, 0.631); */

  background: #fff;
}
.logo-header{
  width: 100px;
  border: solid black 4px;
  border-radius: 10px;
  
}
.div-logo-header{
  margin-left: 50px;
}
footer {
  background: white; /* Color de fondo del pie de página */
  color: black; /* Color del texto */
  text-align: center;
  padding: 10px 0;

  border-top-left-radius: 20px; /* Bordes redondeados */
  border-top-right-radius: 20px;
  position: relative;
}


/* Estilos para los formularios */
form {
  background: #fff; /* Fondo blanco para formularios */
  padding: 20px;
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
  margin-bottom: 20px;
  align-self: center;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="color"],
textarea {
  padding: 10px;
  margin: 10px 0; /* Espacio entre los campos */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 4px; /* Bordes redondeados */
}

select {
  padding: 10px;
  margin: 10px 0; /* Espacio entre el selector y otros campos */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 4px; /* Bordes redondeados */
}

/* Estilos para botones */
button {
  background: #007bff; /* Color de fondo del botón */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  padding: 10px 15px;
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cursor de puntero */
  transition: background 0.3s; /* Transición suave para el fondo */
}

/* Efecto hover en botones */
button:hover {
  background: #0056b3; /* Color más oscuro en hover */
}

/* Estilo de las listas de tarjetas */
.card-list {
  display: flex;
  flex-wrap: wrap; /* Ajuste de tarjetas en filas */
  gap: 20px; /* Espaciado entre tarjetas */
  /* border: 3px green solid; */
  justify-content: center;
  margin-bottom: 100px;
  align-items: center;
}

.card {
  background:var(--background-card);
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px;
  box-shadow: 20px 50px 40px rgba(0, 0, 0, 1); /* Sombra suave */
  /* border: 1px red solid; */
  width: 380px;
  height: 220px;
  line-height: 10px;
  background: blur(1px);
  margin: 10px;
}


.card:hover{

  width: 385px;
  height: 225px;
  box-shadow: 20px 20px 20px rgba(142, 141, 138, 0.442) ;

}

.card.visa {
  background-color: blue;
}

.card.mastercard {
  background-color: red;
}

.card.american-express {
  background-color: green;
}

.card.discover {
  background-color: orange;
}

.card.diners-club {
  background-color: purple;
}

.card.jcb {
  background-color: pink;
}

.card.maestro {
  background-color: yellow;
}

.card.unionpay {
  background-color: lightblue;
}

/* Estilos para los títulos */
h1, h2 {
  color: #007bff; /* Color azul para títulos */
  margin-bottom: 10px; /* Espacio debajo de los títulos */
}

/* Enlaces */
a {
  color: black; /* Color para enlaces */
  text-decoration: none; /* Sin subrayado */
  margin-left: 30px;
  font-weight: 800;
  border: solid black 2px;
  padding: 10px;
  border-radius: 10px;
}

a:hover {
  text-decoration: underline; /* Subrayar en hover */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .card-list {
    flex-direction: column; /* Tarjetas en columna en pantallas pequeñas */
  }
}

/* Estilos del componente Settings */
.settings-container {
  min-height: 100vh; /* Para ocupar toda la altura de la ventana */
  padding: 20px;
}

/* Estilos del selector de color */
.settings-label {
  margin: 10px 0; /* Espacio vertical del label */
  font-size: 16px; /* Tamaño de fuente para el label */
}

.settings-select {
  padding: 10px; /* Espaciado interno del select */
  margin-bottom: 20px; /* Espacio debajo del select */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 4px; /* Bordes redondeados */
}

/* Otras clases */
.addForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 40px;
  margin: 20px;
  align-self: center;
}
input,
option {
  margin-bottom: 20px;
  padding: 10px;
}
button {
  margin: 10px;
}

.other-number {
  display: flex;
  flex-direction: row;
  /* border: solid blue 1px; */
  justify-content: space-between;
}
.other-number p {
  font-size: 12px;
  font-weight: 600;
}

.vd-ccv {
  /* border: solid red 1px; */
  line-height: 0;
}
.card p:nth-child(2) {
  font-weight:400;
}
.title-bank-name {
  font-size: 18px;
}

.card-number {
  color: rgb(255, 255, 255);
  font-weight: 800;
  letter-spacing: 10px;
  /* border: solid green 1px; */
  line-height: 0px;
  margin: 10px 10px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  text-align: center;
  
}

.owner-name {
  font-weight: bolder;
  line-height: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  word-spacing: 40px;
}

.cover-website {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  line-height: 30px;
  justify-content: center;
  align-items: center;
}

/* .cover-website-text {
  border: solid blue 1px;
} */
.cover-website-text h3 {
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cover-website-text h1 {
  font-size: 80px;
  font-weight: 500;
}
.cover-website-text p {
  font-size: 20px;
  font-weight: 100;
  margin-top: 60px;
}

.card-state {
  color:rgb(255, 255, 255);
  font-weight: 100;
  font-family: 10px;
}

.first-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 0px;
}

.page-form{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}


.page-settings{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
 
}

.color-theme{
  max-width: 300px;;
  align-self: center;
}


.date{
  width: 50%;
}


.bottomCard{
  display: flex;
  flex-direction: row;
}
.bottomCard p{
  display: flex;
  align-self: center;
  margin-left: 40px;
  font-style: italic;
  font-weight: 900;
}
@media (max-width: 470px) {
   .portal-img{
    margin-top: 20px;
    width: 200px;
   }
  .cover-website-text h1 {
    font-size: 40px;
   }
  .cover-website-text h3 {
    font-size: 30px;
  }
  a{
    font-size: 12px;
    margin: 4px;
    padding: 10px;
  }

}
@media (max-width: 600px) {
   .portal-img{
    margin-top: 50px;
    width: 400px;
   }
  .cover-website-text h1 {
    font-size: 40px;
   }
  .cover-website-text h3 {
    font-size: 30px;
  }
  a{
    font-size: 12px;
    margin: 4px;
    padding: 10px;
  }

}

@media (max-width: 800px) {
  .portal-img{
    margin-top: 100px;
    width: 500px;
  }
  .card{
    width: 320px;
  }
  .card-number{
    letter-spacing: 4px;
  }
    
}
@media (max-width: 1000px) {
  .portal-img{
    margin-top: 100px;
    width: 550px;
  }
    
}
@media (max-width: 1663px) {
  .portal-img{
    margin-top: 100px;
    width: 500px;
  }
}


.cardList-home{
 display: flex;
 flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  /* border: 2px yellow solid; */
  margin: 10px;
  
}
.card-list{
  display: flex;
  flex-direction: column;
 
}
.card-detail-main{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card-detail{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  border: solid 2px yellow;
  width: 400px;
  background: white;
  color: black;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 4px 0px 4px rgba(0, 0, 0, 0.4);
}
.card-detail p{
  border: 1px  grey solid ;
  padding: 6px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.521);
}

main{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.add-card{
  width: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
   border: none;
   background: white;
   box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1) ;
  
}
.add-card:hover{
  width: 210px;
  height: 20px;
 
}

.inactive-card-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}



.card-list-tittle{
  color: #fff;
}